body{
    font-style: "Mpntserrat";
}
#title{
    color: white;
    line-height: 1.2;
    background-color: #ff4c68;
    padding: 7% 15%;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 2.5rem;
    font-style: "Mpntserrat"; 
}
.conhead{
    padding-top: 4.5rem;
}

 h1{   
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
    line-height: 1.5;
    color: white;
    padding-top: 1%;
}
h2{
    font-family: 'Montserrat-bold',sans-serif; 
}
h3{
    padding-top: 3%;
    /* font-family: 'Montserrat-bold',sans-serif; */
    font-weight: bold;
}

/* fetures  */

#features{
    padding: 7% 15%;
}
.feture-box{
    text-align: center;
    padding: 5%;
}

 /* button  */

 .dwbtn{
    margin: 5% 3% 5% 0;
 }


 /* title image  */

 .title-img{
    width: 60%;
    transform: rotate(25deg);
 }
 .fa-check{
    padding: 2rem;
    border-radius: 100%;
    background-color: #ff4c68;
 }
 .fa-check:hover{
    background-color: #ff1639;
 }

 /* testimonials */
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.testimonials-image{
    border-radius: 100%;
    width: 10%;
}

/* --------press------------ */

#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}